.footer-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.footer-content{
    background-color:pink;
    display: flex;
    align-items: center;
    margin: 25px;
    width: 900px;
    height: 120px;
    margin-bottom: 0px;
    
}

p.footer-title {
    display: flex;
    align-items: center;
    margin-top:20px;
    margin-left: 20px;
    font-size:15px;
    color:black;
    width:450px;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color:lightcoral;
    height: 40px;
    padding-left: 20px;
    opacity: 0.8;
}

p.footer-text {
    margin:20px;
    font-size:15px;
    color:black;
    width:450px;
    text-align: right;
    color: white;
}

