.footer-container{
    margin-top: 0px;
    height: 50px;
    
}

.footer-content{
    background-color:pink;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 120px;

    
}

p.footer-title {
    display: inline;
    float: left;
    margin-top:30px;
    margin-left: 20px;
    padding-top: 15px;
    padding-left: 20px;
    
    font-size:15px;
    color:black;
    width:450px;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color:lightcoral;
    height: 40px;
    opacity: 0.6;
}

p.footer-text {
    display: inline;
    float: right;
    
    margin-top: 30px;
    margin-right: 20px;
    padding-top: 10px;
    
    font-size:15px;
    text-align: right;
    color: white;
}

