form {
    margin-left: 10px; 
}

input[type=text], input[type=search], select{
    min-width: 30px;
    height: 35px;
    font-size: 15px;
    
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border-style:solid;
    border-color:lightgrey;
    border-width: 2px;
    
    padding-left: 10px;
    padding-right: 10px;
   -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;
    outline: none;
    
}
form input[type=text],form input[type=search],form select{
    min-width: 230px;
    max-width: 250px; /* Allow minor diferences of font size on different devices*/
}

input[type=text]:focus,input[type=search]:focus,  select:focus{
    border: 2px solid palevioletred;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(224,156,224,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(224,156,224,1);
    box-shadow: 0px 0px 16px 0px rgba(224,156,224,1);
}

input[type=submit],input[type=reset], input[type=button]{
    margin-top: 5px;
    border: none;
    color: white;
    height: 35px;
    width: auto;
    margin-top: 5px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
    border-radius: 4px;
    border-style: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
}

input[type=button].diabled{
    background-color: lightgray;
}

input[type=button].special{
    background-color:lightcoral;
}
input[type=button].special:hover{
    background-color:coral;
}


input[type=submit].important{
    background-color:palevioletred;
}

input[type=submit].normal:hover,input[type=reset].normal:hover,input[type=button].normal:hover{
    background-color:burlywood;
}
input[type=submit].normal,input[type=reset].normal,input[type=button].normal{
    background-color:lightpink;
}
    
input[type=submit].important:hover{
    background-color:hotpink;
}

label{
    font-size: 14px;
    display:inline-flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    min-width: 100px;
    margin-right: 10px;
    
}

input[type=checkbox] {

 /* NEED CSS */
}

#view-chart{
    display: inline;
    margin-left: 20px;
}