html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;

}

body {
    font-family:sans-serif;
    font-size:14px;

    margin:0px;
}

body:before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url("page-bg.png");

  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


a{
    text-decoration: none;
    color: chocolate;
}

.body-container{
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    background-color:rgba(255,255,255,1);
    box-shadow: 6px 0 12px -4px rgba(0, 0, 0, 0.2), -6px 0 12px -4px rgba(0, 0, 0, 0.2);
}


.content-container{

    width: 900px;

    margin-bottom: 0px;
    margin-top: 0px;

    background-color:rgba(255,255,255,1);
    
}

.content-heading-container{
    width: 100%;
    height: 60px;  
    line-height: 60px;
    background-color:floralwhite;
}
p.content-heading{
    
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 300;
    color:dimgray;
    font-weight: bold;
}

.content-main-container{
    height: 100%;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-container{
    background-color:snow;
    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px solid gainsboro
}



.panel-title-container{
    margin-top: 0px;

    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color:darkgray;
    font-size: 16px;

    border-bottom-width: 1px;
    border-bottom-style:dashed;
    border-color:gainsboro;
    
}